<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["Title"] BPCSudcam
    </title>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="container">
    <div class="font-header">GESTION DE BON DE</div>
    <div class="font-header">PRISE EN CHARGE</div>
    <div class="font-header1">PERSONNEL/PATIENT</div>
    <div class="font-header">RESEAU DE SOINS</div>
    <div class="font-header1">FCB/SUDCAM</div>

    <div class="rectangle">
        <a class="font-text" asp-area="" asp-controller="Personnel" asp-action="Affichedata">DEMANDE DE BON</a>
    </div>
    </br>
    <div class="rectangle">
        <a class="font-text" asp-area="" asp-controller="Login" asp-action="index">EMISSION DE BON</a>
    </div>
    </br>
    <div class="rectangle1">
        <a class="font-text1" asp-area="" asp-controller="Login" asp-action="Index">BONS SOCIAUX</a>
    </div>
    </br>
    <div class="rectangle">
        <a class="font-text" asp-area="" asp-controller="Login" asp-action="Index">DOSSIERS MEDICAUX</a>
    </div>
    </br>
    <div class="rectangle">
        <a class="font-text" asp-area="" asp-controller="Login" asp-action="Index">ETATS FINANCIERS</a>
    </div>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
<footer class="footer">

    Copyright  &copy; 2022 - BPCSudcam

</footer>
</html>
